In [ ]:
names=['今西','鈴木','佐藤']
names

['今西', '鈴木', '佐藤']

In [ ]:
names[0]

'今西'

In [ ]:
names[:2]

['今西', '鈴木']

In [ ]:
names[1:]

['鈴木', '佐藤']

In [ ]:
scores=[40,20,30]

In [ ]:
scores.append(50)

In [ ]:
scores.append(100)

In [ ]:
scores

[40, 20, 30, 50, 50, 50, 100]

In [ ]:
scores.pop()

100

In [ ]:
scores.pop()

50

In [ ]:
scores.pop()

50

In [ ]:
scores

[40, 20, 30, 50]

In [ ]:
scores.pop(0)

40

In [ ]:
scores

[20, 30, 50]

In [ ]:
scores={'国語':40,'数学':90,'英語':80,'理科':80,'社会':70}

In [ ]:
scores

{'国語': 40, '数学': 90, '理科': 80, '社会': 70, '英語': 80}

In [ ]:
scores['英語']

80

In [ ]:
scores['家庭科']=100

In [ ]:
scores['体育']=10

In [ ]:
scores.pop('体育')

10

In [ ]:
scores

{'国語': 40, '家庭科': 100, '数学': 90, '理科': 80, '社会': 70, '英語': 80}

In [ ]:
money=1000

In [ ]:
if money >= 2000:
  print('映画館に行きます')
else:
  print('映画館に行きません')

映画館に行きません

In [ ]:
names=['今西','佐藤','鈴木','高橋','川上']

In [ ]:
len(names)

5

In [ ]:
for i in range(len(names)):
  print(names[i]+'さん')

今西さん
佐藤さん
鈴木さん
高橋さん
川上さん

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
for name in names:
  print(name+'さん')

今西さん
佐藤さん
鈴木さん
高橋さん
川上さん

In [ ]:
last_names=['今西','佐藤','鈴木','田中']
first_names=['航平','健介','幸二','康介']

In [ ]:
for last_name,first_name in zip(last_names,first_names):
  print(last_name+first_name+'さん')

今西航平さん
佐藤健介さん
鈴木幸二さん
田中康介さん

In [ ]:
for i in range(len(last_names)):
  print('出席番号',i,'番目の'+last_names[i]+'さん')

出席番号 0 番目の今西さん
出席番号 1 番目の佐藤さん
出席番号 2 番目の鈴木さん
出席番号 3 番目の田中さん

In [ ]:
for i ,last_name in enumerate(last_names):
  print(f'出席番号{i}番目の{last_name}さん')

出席番号0番目の今西さん
出席番号1番目の佐藤さん
出席番号2番目の鈴木さん
出席番号3番目の田中さん

In [ ]:
for i in range(10):
  if i==7:
    continue
  print(i)

0
1
2
3
4
5
6
8
9

In [ ]:
def calc_square(side):
  print(side*side)

In [ ]:
result=calc_square(side=10)

100

In [ ]:
result

In [ ]:
calc_squrare(10)

100

In [ ]:
def calc_tri(base=120,height=20):
    return base*height*0.5

In [ ]:
calc_tri(base=100,height=20)

1000.0

In [ ]:
calc_tri()

1200.0

In [ ]:
class Person:
  #初期設定
  def __init__(self,name,nationality,age):
    self.name=name
    self.nationality=nationality
    self.age=age
  def __call__(self,name):
    print(f'{name}こんにちはわたしは{self.name}。callから呼び出されています')
  def say_hello(self,name):
    print(f'{name}こんにちはわたしは{self.name}')

In [ ]:
imanishi=Person(name='今西',nationality='日本',age=26)

In [ ]:
imanishi.age

26

In [ ]:
imanishi.name

'今西'

In [ ]:
imanishi.nationality

'日本'

In [ ]:
mike=Person(name='マイク',nationality='アメリカ',age=23)

In [ ]:
mike.age

23

In [ ]:
mike.nationality

'アメリカ'

In [ ]:
imanishi.say_hello()

こんにちはわたしは今西

In [ ]:
mike.say_hello()

こんにちはわたしはマイク

In [ ]:
imanishi(name='佐藤')

佐藤こんにちはわたしは今西。callから呼び出されています

In [ ]:
import datetime

In [ ]:
today=datetime.date.today()

In [ ]:
datetime.datetime.now()

datetime.datetime(2021, 8, 14, 12, 12, 16, 655242)

In [ ]:
today-datetime.timedelta(days=1)

datetime.date(2021, 8, 13)

In [ ]:
print(today)

2021-08-14

In [ ]:
today.strftime('%Y/%m/%d')

'2021/08/14'

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame([[1,2,3],
              [4,5,6],
              [7,8,9]])

In [ ]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
df=pd.read_csv('/content/sample_data/california_housing_test.csv')

In [ ]:
df

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

In [ ]:
df.tail()

      longitude  latitude  ...  median_income  median_house_value
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[5 rows x 9 columns]

In [ ]:
df.iloc[:,:3].head()

   longitude  latitude  housing_median_age
0    -122.05     37.37                27.0
1    -118.30     34.26                43.0
2    -117.81     33.78                27.0
3    -118.36     33.82                28.0
4    -119.67     36.33                19.0

In [ ]:
df[df['housing_median_age']>30]

      longitude  latitude  ...  median_income  median_house_value
1       -118.30     34.26  ...         3.5990            176500.0
5       -119.56     36.51  ...         1.6635             67000.0
6       -121.43     38.63  ...         1.6641             67000.0
9       -118.02     34.08  ...         2.3333            164200.0
10      -118.24     33.98  ...         2.2054            125000.0
...         ...       ...  ...            ...                 ...
2992    -122.33     37.39  ...         6.2263            500001.0
2993    -117.91     33.60  ...         5.1048            500001.0
2994    -117.93     33.86  ...         5.5867            182500.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[1401 rows x 9 columns]

In [ ]:
df.shape

(3000, 9)

In [ ]:
df.mean()

longitude               -119.589200
latitude                  35.635390
housing_median_age        28.845333
total_rooms             2599.578667
total_bedrooms           529.950667
population              1402.798667
households               489.912000
median_income              3.807272
median_house_value    205846.275000
dtype: float64

In [ ]:
df.std()

longitude                  1.994936
latitude                   2.129670
housing_median_age        12.555396
total_rooms             2155.593332
total_bedrooms           415.654368
population              1030.543012
households               365.422710
median_income              1.854512
median_house_value    113119.687470
dtype: float64

In [ ]:
df.max()

longitude               -114.4900
latitude                  41.9200
housing_median_age        52.0000
total_rooms            30450.0000
total_bedrooms          5419.0000
population             11935.0000
households              4930.0000
median_income             15.0001
median_house_value    500001.0000
dtype: float64

In [ ]:
df.describe()

         longitude    latitude  ...  median_income  median_house_value
count  3000.000000  3000.00000  ...    3000.000000          3000.00000
mean   -119.589200    35.63539  ...       3.807272        205846.27500
std       1.994936     2.12967  ...       1.854512        113119.68747
min    -124.180000    32.56000  ...       0.499900         22500.00000
25%    -121.810000    33.93000  ...       2.544000        121200.00000
50%    -118.485000    34.27000  ...       3.487150        177650.00000
75%    -118.020000    37.69000  ...       4.656475        263975.00000
max    -114.490000    41.92000  ...      15.000100        500001.00000

[8 rows x 9 columns]